name: test

on:
  push:
    branches: [ "feat/test" ]

  pull_request:
    branches: [ "dev" ]

jobs:
  test:
    name: Run test
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: create application.properties
        run: |
          cd ./src/main/resources
          touch ./application.properties
          echo "${{ secrets.APPLICATION_PROPERTIES_TEST }}" > ./application.properties
        shell: bash

      - name: Install Redis
        run: |
          sudo apt-get update
          sudo apt-get install redis-server

      - name: gradlew test
        run: ./gradlew test